{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block main %}
    <div class="container">
        <h1>Profile settings</h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Profile information
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="fixed-width-100">Name:</div>
                            <div>{{ app.user.name }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-100">Last name:</div>
                            <div>{{ app.user.lastName }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-100">Title:</div>
                            <div>{{ app.user.title }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-100">Specialty:</div>
                            <div>{{ app.user.medicalSpecialty }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-100">Licence:</div>
                            <div>{{ app.user.licenceNumber }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-100">Start date:</div>
                            <div>{{ app.user.dateCreated|date("d/m/Y") }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                Update profile information
            </div>
            <div class="col-4">
                Update profile image
            </div>
        </div>
    </div>
{% endblock %}
