{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Profile {% endblock %}

{% block main %}
    <div class="container">
        <h1>Profile settings</h1>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-user"></i> Profile information
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="fixed-width-120">Name:</div>
                            <div>{{ app.user.name }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-120">Last name:</div>
                            <div>{{ app.user.lastName }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-120">Title:</div>
                            <div>{{ app.user.title }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-120">Phone number:</div>
                            <div>{{ app.user.phoneNumber }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-120">Specialty:</div>
                            <div>{{ app.user.medicalSpecialty }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-120">Location:</div>
                            <div>{{ app.user.location }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-120">MD Licence:</div>
                            <div>{{ app.user.licenceNumber }}</div>
                        </div>
                        <div class="d-flex">
                            <div class="fixed-width-120">Start date:</div>
                            <div>{{ app.user.dateCreated|date("d/m/Y") }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-edit"></i> Update profile information
                    </div>
                    <div class="card-body">
                        {{ form_start(userForm) }}
                        {{ form_row(userForm.name) }}
                        {{ form_row(userForm.lastName) }}
                        {{ form_row(userForm.title) }}
                        {{ form_row(userForm.phoneNumber) }}
                        {{ form_row(userForm.medicalSpecialty) }}
                        {{ form_row(userForm.location) }}
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-edit"></i> Update profile image
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                        <img src="{{ app.user.profileImage }}" height="100" alt="profile avatar">
                        </div>
                        {{ form_start(userProfileForm) }}
                        {{ form_row(userProfileForm.profileImage) }}
                        {{ form_end(userProfileForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block customjavascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <script>
            bsCustomFileInput.init()
            var btn = document.getElementById('btnResetForm')
            var form = document.querySelector('form')
            btn.addEventListener('click', function () {
                form.reset()
            })
        </script>
    {% endblock %}
{% endblock %}
