{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Patient intake {% endblock %}

{% block main %}
    <div class="container">
        {{ include('patient/includes/_proces_treatment_status.html.twig') }}
        <div class='outer'>
            <div class='inner2'></div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3">
                <h1 class="text-center">Intake </h1>
                <h3 class="text-right">Part 2/3</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header"><strong>Additional information</strong> Step 2</div>
                    <div class="card-body">
                         {{ form_start(form) }}
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3"><strong>1</strong> What urgency do you estimate? </label>
                                <div class="col-md-9">
                                     {{ form_row(form.urgency, {'label':false}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3"><strong>3</strong> Explanation of the urgency </label>
                                <div class="col-md-9">
                                     {{ form_row(form.urgencyComment, {'label':false}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                    </div>
                    {# {{ form_end(form) }} #}
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header text-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ path('patient_intake_part_one',{'patient':patient.id}) }}">
                                <button type="button" class="btn btn-sm btn-dark">Back</button>
                            </a>
                            <a href="{{ path('patient_intake_part_three',{'patient':patient.id}) }}">
                            <button type="button" class="btn btn-sm btn-dark border-left">Next</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group bg-white">
                            <li class="list-group-item"><a href="{{ path('patient_intake_part_one',{'patient':patient.id}) }}"> <strong>Form 1</strong> Reason for intake</a></li>
                            <li class="list-group-item active"><strong>Form 2</strong> Additional information</li>
                            <li class="list-group-item"><a href="{{ path('patient_intake_part_three',{'patient':patient.id}) }}"><strong>Form 3</strong> Determination follow-up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block customjavascripts %}
    {% endblock %}
{% endblock %}