<ul class="list-unstyled">
    <div class="d-flex">
        <div class="fixed-width-120">Name:</div>
        <div>{{ patient.name }}</div>
    </div>
    <div class="d-flex">
        <div class="fixed-width-120">Last name:</div>
        <div>{{ patient.lastName }}</div>
    </div>
    <div class="d-flex">
        <div class="fixed-width-120">Email:</div>
        <div>{{ patient.email }}</div>
    </div>
    <div class="d-flex">
        <div class="fixed-width-120">Birthdate:</div>
        <div>{{ patient.birthdate|date("d-m-Y") }}</div>
    </div>
    <div class="d-flex">
        <div class="fixed-width-120">Phonenumber:</div>
        <div>{{ patient.phoneNumber }}</div>
    </div>
    <div class="d-flex">
        <div class="fixed-width-120">Insurance No:</div>
        <div>{{ patient.insuranceNumber }}</div>
    </div>
    <div class="d-flex">
        <div class="fixed-width-120">Insurance Co:</div>
        <div>{{ patient.insuranceCompany }}</div>
    </div>
</ul>