{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Patient details {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item active"><a href="{{ path('patient_details',{'patient':patient.id}) }}">Patient
                    details</a></li>
            <li class="breadcrumb-item"><a href="{{ path('patient_notes_list',{'patient':patient.id}) }}">Notes</a></li>
            <li class="ml-auto" aria-current="page">
                <div class=" px-3 d-flex align-items-center custom-bar-color "><i
                            class="fas fa-calendar"></i>&nbsp; {{ "now"|date("m/d/Y") }}&nbsp;&nbsp;
                    <i class="fas fa-clock"></i>&nbsp;<div id='time-part'></div>
                </div>
            </li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 bg-secondary rounded">
            <h1 class="px-3 text-dark">Medical record</h1>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="{{ path('select_treatment',{'patient':patient.id}) }}">
                        <button type="button" class="btn btn-dark">Start treatment</button>
                    </a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn btn-dark">Current treatment</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn btn-dark">Show history</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card d-flex">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="text-center">
                                <a href="{{ path('edit_patient_settings', {'patient': patient.id}) }}">
                                {% if patient.profileImage == null %}
                                    <img class=" table-avatar-img-patient-card c-avatar-img-patient-card"
                                         src="https://medicsoft-bucket.s3.eu-central-1.amazonaws.com/images/avatar_placeholder.jpg"
                                         alt="avatar placeholder">
                                {% else %}
                                    <img class="table-avatar-img-patient-card c-avatar-img-patient-card"
                                         src="{{ patient.profileImage }}"
                                         alt="profile avatar">
                                {% endif %}
                                </a>
                                <div class="mt-3">
                                    <h4><strong>{{ patient.name }} {{ patient.lastName }} </strong></h4>
                                </div>
                                <div>Date of birth: {{ patient.birthdate|date("d-m-Y") }}</div>

{#                                {{ form_start(patientProfileForm) }}#}
{#                                {{ form_row(patientProfileForm.profileImage) }}#}
{#                                <button class="btn btn-sm btn-success">Update</button>#}
{#                                {{ form_end(patientProfileForm) }}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card" style="max-height: 230px">
                    <div class="card-header border-0"><i class="fas fa-info-circle"></i> Patient information</div>
                    <div class="card-body">
                        {{ include('patient/includes/_patient_general_information.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-6">
                <div class="card">
                    <div class="row">
                        <div class="col-6">
                            {% if patient.patientRecordNotes is not empty %}
                                <div class="card-header border-0"><i class="fas fa-notes-medical"></i> General notes <i
                                            class="fas fa-exclamation-triangle text-danger"> active notes</i></div>
                            {% else %}
                                <div class="card-header border-0"><i class="fas fa-notes-medical"></i> General notes
                                </div>
                            {% endif %}
                            <div class="card-body">
                                {{ form_start(notesForm) }}
                                <div class="mb-2">
                                    {{ form_widget(notesForm.title) }}
                                </div>
                                {{ form_widget(notesForm.content) }}
                            </div>
                            <div class="card-footer border-0">
                                {{ form_widget(notesForm.save) }}
                                {{ form_end(notesForm) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-header border-0 text-white">hidden header</div>
                            <div class="card-body">
                                <div class="accordion" id="accordion" role="tablist">
                                    <div class="card mb-0">
                                        <div class="card-header border-0" id="headingOne" role="tab">
                                            <div class="mb-0 text-center">
                                                <button class="btn btn-small bg-dark text-white" data-toggle="collapse"
                                                        href="#collapseOne"
                                                        aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        class="collapsed text-dark"><i
                                                            class="fas fa-arrow-alt-circle-down"></i>&nbsp; History
                                                </button>
                                            </div>
                                        </div>
                                        <div class="collapse" id="collapseOne" role="tabpanel"
                                             aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                {% for notes in allPatientNotes %}
                                                <ul class="list-group border-0">
                                                    <li class="list-group-item mb-1 d-flex justify-content-between">
                                                        <div class="text-truncate"
                                                             data-toggle="modal"
                                                             data-target="#notesModal{{ notes.id }}">
                                                            {{ notes.title }}
                                                        </div>
                                                        <a href="{{ path('delete_patient_note', {'note' : notes.id}) }}"><i
                                                                    class="fas fa-trash text-danger"></i></a>
                                                    </li>
                                                    {% endfor %}
                                                    {% if allPatientNotes %}
                                                        <li class="list-group-item mb-1"><a
                                                                    href="{{ path('patient_notes_list',{'patient':patient.id}) }}">Show
                                                                all
                                                                results..</a>
                                                        </li>
                                                    {% else %}
                                                        <p>No history for patient
                                                            <strong>{{ patient.lastName }}</strong></p>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-lg-12">
                <div class="card">
                    <div class="card-header border-0"><i class="fas fa-pills"></i> Medication</div>
                    <div class="card-body">
                        <table class="table table-striped border-secondary">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Manufacturer</th>
                                <th scope="col">Dosis</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Alymotin</td>
                                <td>Pfeiser</td>
                                <td>1/5 ma2</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Exoriotin</td>
                                <td>Pfeiser</td>
                                <td>200 ml</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-dark float-right">Show all</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <i class="fas fa-clock"></i> Treatment history
                    </div>
                    <div class="card-body">
                        <table class="table table-striped border-secondary">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Inducement
                                </th>
                                <th scope="col">Date</th>
                                <th scope="col">Diagnosis</th>
                                <th scope="col">Treatment</th>
                                <th scope="col">Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Persistent headache</td>
                                <td>12-04-2019</td>
                                <td>33</td>
                                <td>Plan 2</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Car accident</td>
                                <td>12-04-2019</td>
                                <td>12</td>
                                <td>Plan 4</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cold complains</td>
                                <td>12-04-2019</td>
                                <td>77</td>
                                <td>Plan 5</td>
                                <td>Closed</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-dark float-right">Show all</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <i class="far fa-chart-bar"></i> Lab results
                    </div>
                    <div class="card-body">
                        <table class="table table-striped border-secondary">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Inducement
                                </th>
                                <th scope="col">Date</th>
                                <th scope="col">Diagnosis</th>
                                <th scope="col">Treatment</th>
                                <th scope="col">Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Persistent headache</td>
                                <td>12-04-2019</td>
                                <td>33</td>
                                <td>Plan 2</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Car accident</td>
                                <td>12-04-2019</td>
                                <td>12</td>
                                <td>Plan 4</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cold complains</td>
                                <td>12-04-2019</td>
                                <td>77</td>
                                <td>Plan 5</td>
                                <td>Closed</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-dark float-right">Show all</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('patient/includes/_patient_notes_modal.html.twig') }}

    {% block customjavascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <script>
            bsCustomFileInput.init()
            var btn = document.getElementById('btnResetForm')
            var form = document.querySelector('form')
            btn.addEventListener('click', function () {
                form.reset()
            })
        </script>
    {% endblock %}
{% endblock %}