{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Patient notes {% endblock %}

{% block main %}
    <div class="container">
    <div class="row">
        <div class="col-10">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
                <h1 class="text-center"><i class="fas fa-user"></i> List of all notes for patient {{ patient.lastName }} </h1>
            </div>
        </div>
        <div class="col-2">
            <div class="btn btn-success mb-3 float-right" data-toggle="modal" data-target="#patientModal"><i
                        class="fas fa-plus"></i> Add note
            </div>
        </div>
    </div>
    <table class="table table-striped border-secondary">
        <thead>
        <tr>
            <th scope="col">Note id</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        {% for note in patient.patientRecordNotes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.createdAt|date("d-m-Y") }}</td>
                <td>{{ note.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-2">
            <div class="navigation">
{#                {{ knp_pagination_render(patients) }}#}
            </div>
        </div>
        <div class="col-9">
        </div>
        <div class="col-1">
{#            <strong>Total:</strong> <i>{{ patients.getTotalItemCount }}</i>#}
        </div>
    </div>

{% endblock %}