{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Patient details {% endblock %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
            <h1><i class="fas fa-user"></i> Patient details</h1>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="{{ path('patient_intake',{'patient':patient.id}) }}"><button type="button" class="btn btn-dark">Start treatment</button></a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn btn-dark">Current treatment</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn btn-dark">Show history</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card d-flex">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="text-center">
                                {% if patient.profileImage == null %}
                                    <img class="rounded"
                                         src="https://medicsoft-bucket.s3.eu-central-1.amazonaws.com/images/avatar_placeholder.jpg"
                                         height="100" alt="avatar placeholder">
                                {% else %}
                                    <img class="rounded" src="{{ patient.profileImage }}" height="100"
                                         alt="profile avatar">
                                {% endif %}
                                <div class="mt-4">
                                    <h4><strong>{{ patient.name }} {{ patient.lastName }} </strong></h4>
                                </div>
                            </div>
                            {{ form_start(patientProfileForm) }}
                            {{ form_row(patientProfileForm.profileImage) }}
                            <button class="btn btn-sm btn-success">Update</button>
                            {{ form_end(patientProfileForm) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-8">
                <div class="card">
                    <div class="row">
                        <div class="col-8">
                             {% if patient.patientRecordNotes is not empty %}
                             <div class="card-header border-0"><i class="fas fa-notes-medical"></i> General notes <i
                             class="fas fa-exclamation-triangle text-danger"></i></div>
                             {% else %}
                             <div class="card-header border-0"><i class="fas fa-notes-medical"></i> General notes
                             </div>
                             {% endif %}
                            <div class="card-body">
                                {{ form_start(notesForm) }}
                                <div class="mb-2">
                                    {{ form_widget(notesForm.title) }}
                                </div>
                                {{ form_widget(notesForm.content) }}
                            </div>
                            <div class="card-footer border-0">
                                {{ form_widget(notesForm.save) }}
                                {{ form_end(notesForm) }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-header border-0 text-white">hidden header</div>
                            <div class="card-body">
                                <div class="accordion" id="accordion" role="tablist">
                                    <div class="card mb-0">
                                        <div class="card-header border-0" id="headingOne" role="tab">
                                            <div class="mb-0 text-center"><a data-toggle="collapse" href="#collapseOne"
                                                                             aria-expanded="false"
                                                                             aria-controls="collapseOne"
                                                                             class="collapsed text-dark"><i
                                                            class="fas fa-arrow-alt-circle-down"></i> History</a></div>
                                        </div>
                                        <div class="collapse" id="collapseOne" role="tabpanel"
                                             aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                {% for notes in allPatientNotes %}
                                                <ul class="list-group border-0">
                                                    <li class="list-group-item mb-1 d-flex justify-content-between">
                                                        <div class="text-truncate"
                                                                data-toggle="modal"
                                                                data-target="#notesModal{{ notes.id }}">
                                                            {{ notes.title }}
                                                        </div>
                                                        <a href="#"><i
                                                                    class="fas fa-trash text-danger"></i></a>
                                                    </li>
                                                    {% endfor %}
                                                    {% if allPatientNotes %}
                                                        <li class="list-group-item mb-1"><a
                                                                    href="{{ path('patient_notes_list',{'patient':patient.id}) }}">Show
                                                                all
                                                                results..</a>
                                                        </li>
                                                    {% else %}
                                                        <p>No history for patient
                                                            <strong>{{ patient.lastName }}</strong></p>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header border-0"><i class="fas fa-info-circle"></i> Information</div>
                    <div class="card-body">
                        {{ include('patient/includes/_patient_general_information.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-8">
                <div class="card">
                    <div class="card-header border-0"><i class="fas fa-pills"></i> Medication</div>
                    <div class="card-body">
                        <table class="table table-striped border-secondary">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Manufacturer</th>
                                <th scope="col">Dosis</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Alymotin</td>
                                <td>Pfeiser</td>
                                <td>1/5 ma2</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Exoriotin</td>
                                <td>Pfeiser</td>
                                <td>200 ml</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-dark float-right">Show all</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <i class="fas fa-clock"></i> Treatment history
                    </div>
                    <div class="card-body">
                        <table class="table table-striped border-secondary">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Inducement
                                </th>
                                <th scope="col">Date</th>
                                <th scope="col">Diagnosis</th>
                                <th scope="col">Treatment</th>
                                <th scope="col">Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Persistent headache</td>
                                <td>12-04-2019</td>
                                <td>33</td>
                                <td>Plan 2</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Car accident</td>
                                <td>12-04-2019</td>
                                <td>12</td>
                                <td>Plan 4</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cold complains</td>
                                <td>12-04-2019</td>
                                <td>77</td>
                                <td>Plan 5</td>
                                <td>Closed</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-dark float-right">Show all</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('patient/includes/_patient_notes_modal.html.twig') }}

    {% block customjavascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <script>
            bsCustomFileInput.init()
            var btn = document.getElementById('btnResetForm')
            var form = document.querySelector('form')
            btn.addEventListener('click', function () {
                form.reset()
            })
        </script>
    {% endblock %}
{% endblock %}