{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Patient notes {% endblock %}

{#{% block breadcrumb %}#}
{#    <nav aria-label="breadcrumb ">#}
{#        <ol class="breadcrumb custom-bar-color">#}
{#            <li class="breadcrumb-item"><a href="{{ path('patient_details',{'patient':patient.id}) }}">Patient details</a></li>#}
{#            <li class="breadcrumb-item active"><a href="{{ path('patient_notes_list',{'patient':patient.id}) }}">Notes</a></li>#}
{#            <li class="ml-auto" aria-current="page">#}
{#                <div class=" px-3 d-flex align-items-center custom-bar-color "><i#}
{#                            class="fas fa-calendar"></i>&nbsp; {{ "now"|date("m/d/Y") }}&nbsp;&nbsp;#}
{#                    <i class="fas fa-clock"></i>&nbsp;<div id='time-part'></div>#}
{#                </div>#}
{#            </li>#}
{#        </ol>#}
{#    </nav>#}
{#{% endblock breadcrumb %}#}

{% block main %}
    <div class="container">
    <div class="row">
        <div class="col-10">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
{#                <h1 class="text-center"><i class="fas fa-user"></i> List of all notes for patient {{ patient.lastName }} </h1>#}
            </div>
        </div>
        <div class="col-2">
            <div class="btn btn-success mb-3 float-right" data-toggle="modal" data-target="#patientModal"><i
                        class="fas fa-plus"></i> Add note
            </div>
        </div>
    </div>
    <table class="table table-striped border-secondary">
        <thead>
        <tr>
            <th scope="col">Note id</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        {% for note in patientRecordNote %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.createdAt|date("d-m-Y") }}</td>
                <td>{{ note.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-2">
            <div class="navigation">
                    {{ knp_pagination_render(patientRecordNote) }}
            </div>
        </div>
        <div class="col-9">
        </div>
        <div class="col-1">
            <strong>Total:</strong> <i>{{ patientRecordNote.getTotalItemCount }}</i>
        </div>
    </div>
{% endblock %}