{#<div class="modal fade" id="#myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalLabel">Profile information</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">Name:</div>#}
{#                    <div>{{ user.name }}</div>#}
{#                </div>#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">Last name:</div>#}
{#                    <div>{{ user.lastName }}</div>#}
{#                </div>#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">Title:</div>#}
{#                    <div>{{ user.title }}</div>#}
{#                </div>#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">Phone number:</div>#}
{#                    <div>{{ user.phoneNumber }}</div>#}
{#                </div>#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">Specialty:</div>#}
{#                    <div>{{ user.medicalSpecialty }}</div>#}
{#                </div>#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">Location:</div>#}
{#                    <div>{{ user.location }}</div>#}
{#                </div>#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">MD Licence:</div>#}
{#                    <div>{{ user.licenceNumber }}</div>#}
{#                </div>#}
{#                <div class="d-flex">#}
{#                    <div class="fixed-width-120">Start date:</div>#}
{#                    <div>{{ user.dateCreated|date("d/m/Y") }}</div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<tbody>
<tr>

    {{ dump(user) }}

</tr>
</tbody>