{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Doctor list{% endblock %}

{% block main %}
    <div class="container">
        <h1>Table of MD employees</h1>

        <table class="table table-striped border-secondary">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col">Medical specialism</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
                <th scope="col">Location</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.lastName }}, {{ user.name|first }}</td>
                <td><img class="c-avatar-img table-avatar-img" src="{{ user.profileImage }}" alt="avatar"></td>
                <td>{{ user.medicalSpecialty }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.location }}</td>

                <td><a data-toggle="modal" href="{{ path('doctor_details', {user: user.id}) }}"><span class="badge navbar-button" data-target="#exampleModal">Details</span></a></td>
                <td><button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal{{ user.name }}">Modal</button></td>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% for user in users %}
    <div class="modal fade" id="exampleModal{{ user.name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Employee information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ include('doctor_table_index/modal/doctor_details_modal.html.twig') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}